<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <title> {% if page.title %} {{page.title}} {% else %} Festiwal Buddyjskiej Kultury w Szczecinie. 20.05.2023 {% endif %}</title>
    <link rel="stylesheet" href="/water.min.css">
    <style>
      header h1 { font-size: 3rem; }
    </style>
  </head>
  <body>
    <header>
      <center>{% block header %} {% endblock %}</center>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    {% if footer %}
    <footer>
      {% block footer %} {% endblock %}
    </footer>
    {% endif %}
  </body>
</html>